.limit-line {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

a{
   color: #4a4a4a;
   text-decoration: none;
}

a:hover{
    color: #000;
    text-decoration: none;
}

a:focus {
    outline-style:none;
    -moz-outline-style: none;
}

.answer-block{
    margin: 0px 30px 30px 30px;
    border-bottom:1px solid rgba(0, 0, 0, 0.125) ;
}

.answer-block:last-child {
    border-bottom: 0px
}

.list-button{
    display: block;
    height:4em;
    background-color: transparent !important;
}

.question-main{
    margin:30px 0px;
}

.no-collor{
    background-color: transparent!important;
}

.read-block{
    padding-bottom: calc(.5em - 1px);
    padding-left: 1em;
    padding-right: 1em;
    padding-top: calc(.5em - 1px);
    text-align: center;
    white-space: nowrap;
}

.profile-info-container{
    display: flex;
    flex-wrap: wrap;
}

.profile-block{
    padding-bottom: calc(.5em - 1px);
    padding-left: 1em;
    padding-right: 1em;
    padding-top: calc(.5em - 1px);
    text-align: center;
    white-space: nowrap;
}


